<header>
    <h1>{{ title }}</h1>
    <form action="/login" method="GET">
        <button>Log In</button>
    </form>
    <form action="/signup" method="GET">
        <button>Sign Up</button>
    </form>
</header>
    <div id="userId">
        <h5>{{ memberUse.fullName }}</h5>
        <h5>{{ memberUse._id}}</h5>
        <h5>{{ memberUse.userName}}</h5>
        <form action="/accountEdit/userId={{ memberUse._id }}" method="post">
            <button>Account</button>
        </form>
        <form action="/signOut" method="GET">
            <button>Sign Out</button>
        </form>
    </div>
<nav>
    <a href="#">HOME</a>
    <a href="#">HOW TO</a>
    <a href="#">ABOUT ME</a>
    <a href="#">CONTACT ME</a>
</nav>

<hr>
<h3 id="allChat">All Chat Rooms</h3>
<ul id="chatLodges">
    <li><h5><a href="/politics?userId={{ memberUse._id }}">Politics</a></h5></li>
    <li><h5><a href="/religion?userId={{ memberUse._id }}">Religion</a></h5></li>
    <li><h5><a href="/sports?userId={{ memberUse._id }}">Sports</a></h5></li>
    <li><h5><a href="/technology?userId={{ memberUse._id }}">Technology</a></h5></li>
    <li><h5><a href="/consoleGaming?userId={{ memberUse._id }}">Console Gaming</a></h5></li>
    <li><h5><a href="/trollnWarRoom?userId={{ memberUse._id }}">Troll and War Room</a></h5></li>
    <li><h5><a href="/dailyQuery?userId={{ memberUse._id }}">Daily Query</a></h5></li>
    <li><h5><a href="/randomChat?userId={{ memberUse._id }}">Random Chat</a></h5></li>
</ul>
<section class="chatBox">
    <div id="chatTitle"><h5>Politics</h5></div>
    <ul id="messages">
      {{# each Forum }}
        <li> {{ memberUse.userName }}: {{ this.comment }}</li>
      {{/each}}
    </ul>
    <form action="/politics/userId={{ memberUse._id }}" method="post" id="formMessage">
      <input id="m" autocomplete="off" name="instMess"><button>Send</button>
    </form>
</section>
